body {
	margin: 0;
}

img {
	border: none;
}

button, h1, h2 {
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 100%;
}

h1, h2 {
	padding: 50px 0;
	text-align: center;
}

h2 {
	color: green;
}

.preload {
	padding-top: 20px;
	text-align: center;
	display: none;
}

.activate-preload {
	display: block;
}

#container-input {
	width: 640px;
	margin: 0 auto;
	border: solid 1px #CCC;
	position: relative;
	overflow: hidden;
}

#container-input .wrap-file .content-icon-camera {
	width: 55px;
	overflow: hidden;
}

#container-input .wrap-file .content-icon-camera:hover {
	background-color: #e6e6e6;
}

#container-input .wrap-file .content-icon-camera .icon-camera {
	width: 36px;
	height: 36px;
	background: url('https://static.vecteezy.com/system/resources/previews/001/198/770/non_2x/camera-png.png') no-repeat;
	cursor: pointer;
	position: absolute;
	top: 8px;
	left: 8px;
}

#container-input .wrap-file .content-icon-camera #file {
	padding: 15px;
	opacity: 0;
	position: relative;
	cursor: pointer;
	left: -120px;
	z-index: 1;
}

#container-input .wrap-file #preview-images .thumbnail {
	width: 120px;
	height: 120px;
	display: inline-block;
	vertical-align: middle;
	border: solid 2px #CCC;
	background-size: cover;
	position: relative;
}

#container-input .wrap-file #preview-images .thumbnail:not(:last-child) {
	margin-right: 5px;
}

#container-input .wrap-file #preview-images .thumbnail .close-button {
	width: 20px;
	height: 20px;
	background-color: black;
	color: white;
	text-align: center;
	position: absolute;
	top: 5px;
	right: 5px;
	border-radius: 100px;
	cursor: pointer;
}

#container-input #publish {
	padding: 15px 35px;
	font-size: 1.1em;
	float: right;
	border: none;
	cursor: pointer;
	background-color: #8ECA67;
	color: #FFF;
}

#container-input #publish:hover {
	background-color: #6EAD45;
}

.a{
    display: none
}
